body{
  margin: 0px;
  overflow: hidden;
  background-color: white;

  font-family: "Quicksand", serif;
 
}


/* Hide the default checkbox */
input.opener {
display: none;
position: absolute;
}

/* Style the custom checkbox */
.custom-checkbox {
position: absolute;
cursor: pointer;
padding-left: 25px;
transition: transform 0.5s ease-in-out;
height: 0%;


}



.checker {
font-family:'Courier New', Courier, monospace;
font-weight: 400;
transition: ease-in-out 0.3s;
margin: 0px;
font-size: 30px;

padding-left: 7px;
padding-top: 9px;
padding-right: 7px;
border-radius: 3px;


}

/* Handle the checked state */
input.opener:checked + .checker {
transform: translateX(290px);


}

.plus{
color: red;
}
.parameters{
position: absolute;

background-color: rgba(255, 255, 255, 0.8);

width: 390px;
backdrop-filter: blur(3px);


}

/* Handle the checked state */
input.opener:checked ~ .parameters {

background-color: rgba(208, 208, 208, 0);


}
.parameters{
transition: ease-in-out 0.3s;
transform: translateX(-100%);

display: flex;
flex-direction: column;
justify-content: flex-start;



}

.settings{
font-weight: 200;
font-size: 20px;
margin: 0px;
padding: 10px;






}
.code_cont{
border-bottom: 1px solid black;
width: 100%;

border-right: 1px solid black;
display: flex;
justify-content: center;



}
.code_cont:hover{
font-weight: 600;
background-color: rgba(0, 0, 0, 0.08);
}
.code{
font-weight: 500;
font-size: 16px;
padding: 10px;
transition: ease-in-out 0.3s;
text-decoration: none;
color: black;



}
.code:hover{
font-weight: 800;


}

.space{

border-bottom: 1px solid black;
width: 100%;
border-right: 1px solid black;





}
.author{
position: absolute;
text-decoration: none;
font-size: 20px;
font-weight: 500;
color: black;
left: 20px;
bottom: 20px;
transition: ease-in-out 0.3s;
}
.author:hover{
letter-spacing: 1px;
font-weight: 600;
}





.value{
width: 121ch; 
}


.slidecontainer {
display: flex;          /* Enable flexbox layout */
width: 100%;            /* Full width of the container */
flex-direction: row;    /* Align text and slider in a row */
align-items: center;    /* Vertically align items in the center */
justify-content: space-evenly; /* Ensure the elements are aligned to the left */
flex-wrap: nowrap;      /* Prevent wrapping of elements */
transition: ease-in-out 0.2s;
}
.slidecontainer:hover{
background-color: rgba(0, 0, 0, 0.08);
}


.slider {
-webkit-appearance: none;
width: 10%;
height: 4px;
border-radius: 5px;  
background: rgba(0,0,0, 0.1);
outline: none;
-webkit-transition: .2s;
transition: opacity .2s;
transition: ease-in-out 0.1s;
}


.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%; 
background: rgba(0,0,0, 1);;
opacity: 1;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 10px;
height: 10px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}









.value{
width: 3ch; 
}


.slidecontainer {
display: flex;          /* Enable flexbox layout */
width: 100%;            /* Full width of the container */
flex-direction: row;    /* Align text and slider in a row */
align-items: center;    /* Vertically align items in the center */
justify-content: space-evenly; /* Ensure the elements are aligned to the left */
flex-wrap: nowrap;      /* Prevent wrapping of elements */
border-bottom: 1px solid black;
border-right: 1px solid black;
padding-top: 10px;
padding-bottom: 10px;
}

.slider {
-webkit-appearance: none;
width: 60%;
height: 4px;
border-radius: 5px;  
background: rgba(0,0,0, 0.1);
outline: none;
-webkit-transition: .2s;
transition: opacity .2s;
transition: ease-in-out 0.1s;
}
.slider:hover{
  background: rgba(0,0,0, 0.2);
 }

h1{
  font-size: 15px;
  font-weight: 400;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  

}


.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 15px;
height: 15px;
border-radius: 50%; 
background: rgba(255,255,255, 1);
border: 1px solid black;
opacity: 1;
cursor: pointer;
}





.text{


background: none; 
border: none; 
cursor: pointer;

z-index: 2; /* Higher z-index to appear above the canvas */
font-size: 17px;
font-weight: 400;
font-family: "Quicksand", serif;
transition: ease-in-out 0.1s;


color: rgba(0,0,0, 0.8);
text-decoration: none;
user-select: none; /* Prevents text selection */
padding: 10px;
padding-left: 20px;
padding-right: 20px;
width: 100%;

background-color: transparent;


}
.text:hover{
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.08);
}


.bottom{
display: flex;          /* Enable flexbox layout */
width: 100%;            /* Full width of the container */
flex-direction: row;    /* Align text and slider in a row */
align-items: center;    /* Vertically align items in the center */
justify-content: space-between; /* Ensure the elements are aligned to the left */
border-bottom: 1px solid black;
border-right: 1px solid black;
   

}




